In [1]:
from anarci import number
import pandas as pd
import numpy as np
import os
import json

import re
#import pysnooper

__author__ = 'yincan'
__contact__ = 'yin_can@wuxibiologics.com'

class divideScheme:
    '''
    Almost base on IMGT numbering scheme.
    The boundary of CDR2 broadens by 1 to the left and right. 
    '''
    def __init__(self, chain_type):
        self.chain_type = chain_type
        self.__getCDR()
    @staticmethod
    def convertRange(start, end):
        extent = [i for i in range(start, end + 1)]
        str_ext = [st for st in map(str, extent)]
        return str_ext
    def __getCDR(self):
        if self.chain_type.upper() == "L":
            self.cdr1 = self.convertRange(27, 38)
            self.cdr3 = self.convertRange(105, 117)
            self.fw1 = self.convertRange(1, 26)
            self.fw4 = self.convertRange(118, 127)
            #The boundary of CDR2 broadens by 1 to the left and right.
            self.cdr2 = self.convertRange(55, 66)
            self.fw2 = self.convertRange(39, 54)
            self.fw3 = self.convertRange(67, 104)
            self.span: list = [1, 127]
        elif self.chain_type.upper() == "H":
            self.cdr1 = self.convertRange(27, 38)
            self.cdr3 = self.convertRange(105, 117)
            self.fw4 = self.convertRange(118, 128)
            self.fw1 = self.convertRange(1, 26)
            #The boundary of CDR2 broadens by 1 to the left and right.
            self.cdr2 = self.convertRange(55, 66)
            self.fw2 = self.convertRange(39, 54)
            self.fw3 = self.convertRange(67, 104)
            self.span: list = [1, 128]

class Fasta2Library:
    def __init__(self, fasta, scheme='imgt'):
        self.fasta = fasta
        self.scheme = scheme        
        '''
        Numbering sequence by ANARCI's function "number"
        '''
        seqlist = self.seqS()
        data = []
        for self.seq in seqlist:
            self.numbering, self.chain_type = number(self.seq, self.scheme)
            pos_aaDic = self.outNumbering()
            seqdict = {'chain':self.chain_type,'seq':pos_aaDic}
            data.append(seqdict)
    def seqS(self):
        '''
        Merge multi-line fasta file to one-line fasta sequence.
        All the fastas consist of seqlist.
        '''
        seqlist = []
        with open(self.fasta, 'r') as f:
            seq = ''
            for line in f:
                if not line.startswith('>'):
                    seq += line.replace('\n', '').strip()
                else:
                    if seq != '':
                        seqlist.append(seq)
                    seq = ''
        return seqlist
    def outNumbering(self):
        '''
        Process on number output of numbering
        ''' 
        dict_numbering = {}
        for tmp in self.numbering:
            pos = str(tmp[0][0])
            AA = tmp[1]
            dict_numbering[pos] = AA
        return dict_numbering

In [3]:
test=r'/NFS/cany/software/anarci-1.3/Example_scripts_and_sequences/12e8.fasta'

In [4]:
class Fasta2Library:
    def __init__(self, fasta, scheme='imgt'):
        self.fasta = fasta
        self.scheme = scheme        
        '''
        Numbering sequence by ANARCI's function "number"
        '''
        seqlist = self.seqS()
        self.data = []
        for self.seq in seqlist:
            self.numbering, self.chain_type = number(self.seq, self.scheme)
            pos_aaDic = self.outNumbering()
            seqdict = {'chain':self.chain_type,'seq':pos_aaDic}
            self.data.append(seqdict)
    def seqS(self):
        '''
        Merge multi-line fasta file to one-line fasta sequence.
        All the fastas consist of seqlist.
        '''
        seqlist = []
        with open(self.fasta, 'r') as f:
            seq = ''
            for line in f:
                if not line.startswith('>'):
                    seq += line.replace('\n', '').strip()
                else:
                    if seq != '':
                        seqlist.append(seq)
                    seq = ''
        return seqlist
    def outNumbering(self):
        '''
        Process on number output of numbering
        ''' 
        dict_numbering = {}
        for tmp in self.numbering:
            pos = str(tmp[0][0])
            AA = tmp[1]
            dict_numbering[pos] = AA
        return dict_numbering

In [5]:
A=Fasta2Library(test)
A.data

[{'chain': 'H',
  'seq': {'1': 'E',
   '2': 'V',
   '3': 'Q',
   '4': 'L',
   '5': 'Q',
   '6': 'Q',
   '7': 'S',
   '8': 'G',
   '9': 'A',
   '10': '-',
   '11': 'E',
   '12': 'V',
   '13': 'V',
   '14': 'R',
   '15': 'S',
   '16': 'G',
   '17': 'A',
   '18': 'S',
   '19': 'V',
   '20': 'K',
   '21': 'L',
   '22': 'S',
   '23': 'C',
   '24': 'T',
   '25': 'A',
   '26': 'S',
   '27': 'G',
   '28': 'F',
   '29': 'N',
   '30': 'I',
   '31': '-',
   '32': '-',
   '33': '-',
   '34': '-',
   '35': 'K',
   '36': 'D',
   '37': 'Y',
   '38': 'Y',
   '39': 'I',
   '40': 'H',
   '41': 'W',
   '42': 'V',
   '43': 'K',
   '44': 'Q',
   '45': 'R',
   '46': 'P',
   '47': 'E',
   '48': 'K',
   '49': 'G',
   '50': 'L',
   '51': 'E',
   '52': 'W',
   '53': 'I',
   '54': 'G',
   '55': 'W',
   '56': 'I',
   '57': 'D',
   '58': 'P',
   '59': 'E',
   '60': '-',
   '61': '-',
   '62': 'I',
   '63': 'G',
   '64': 'D',
   '65': 'T',
   '66': 'E',
   '67': 'Y',
   '68': 'V',
   '69': 'P',
   '70': 'K',
   '71': 'F',
   '72': 'Q',
   '73': '-',
   '74': 'G',
   '75': 'K',
   '76': 'A',
   '77': 'T',
   '78': 'M',
   '79': 'T',
   '80': 'A',
   '81': 'D',
   '82': 'T',
   '83': 'S',
   '84': 'S',
   '85': 'N',
   '86': 'T',
   '87': 'A',
   '88': 'Y',
   '89': 'L',
   '90': 'Q',
   '91': 'L',
   '92': 'S',
   '93': 'S',
   '94': 'L',
   '95': 'T',
   '96': 'S',
   '97': 'E',
   '98': 'D',
   '99': 'T',
   '100': 'A',
   '101': 'V',
   '102': 'Y',
   '103': 'Y',
   '104': 'C',
   '105': 'N',
   '106': 'A',
   '107': 'G',
   '108': 'H',
   '109': 'D',
   '110': 'Y',
   '111': 'D',
   '112': 'R',
   '113': 'G',
   '114': 'R',
   '115': 'F',
   '116': 'P',
   '117': 'Y',
   '118': 'W',
   '119': 'G',
   '120': 'Q',
   '121': 'G',
   '122': 'T',
   '123': 'L',
   '124': 'V',
   '125': 'T',
   '126': 'V',
   '127': 'S',
   '128': 'A'}},
 {'chain': 'L',
  'seq': {'1': 'D',
   '2': 'I',
   '3': 'V',
   '4': 'M',
   '5': 'T',
   '6': 'Q',
   '7': 'S',
   '8': 'Q',
   '9': 'K',
   '10': 'F',
   '11': 'M',
   '12': 'S',
   '13': 'T',
   '14': 'S',
   '15': 'V',
   '16': 'G',
   '17': 'D',
   '18': 'R',
   '19': 'V',
   '20': 'S',
   '21': 'I',
   '22': 'T',
   '23': 'C',
   '24': 'K',
   '25': 'A',
   '26': 'S',
   '27': 'Q',
   '28': 'N',
   '29': 'V',
   '30': '-',
   '31': '-',
   '32': '-',
   '33': '-',
   '34': '-',
   '35': '-',
   '36': 'G',
   '37': 'T',
   '38': 'A',
   '39': 'V',
   '40': 'A',
   '41': 'W',
   '42': 'Y',
   '43': 'Q',
   '44': 'Q',
   '45': 'K',
   '46': 'P',
   '47': 'G',
   '48': 'Q',
   '49': 'S',
   '50': 'P',
   '51': 'K',
   '52': 'L',
   '53': 'M',
   '54': 'I',
   '55': 'Y',
   '56': 'S',
   '57': 'A',
   '58': '-',
   '59': '-',
   '60': '-',
   '61': '-',
   '62': '-',
   '63': '-',
   '64': '-',
   '65': 'S',
   '66': 'N',
   '67': 'R',
   '68': 'Y',
   '69': 'T',
   '70': 'G',
   '71': 'V',
   '72': 'P',
   '73': '-',
   '74': 'D',
   '75': 'R',
   '76': 'F',
   '77': 'T',
   '78': 'G',
   '79': 'S',
   '80': 'G',
   '81': '-',
   '82': '-',
   '83': 'S',
   '84': 'G',
   '85': 'T',
   '86': 'D',
   '87': 'F',
   '88': 'T',
   '89': 'L',
   '90': 'T',
   '91': 'I',
   '92': 'S',
   '93': 'N',
   '94': 'M',
   '95': 'Q',
   '96': 'S',
   '97': 'E',
   '98': 'D',
   '99': 'L',
   '100': 'A',
   '101': 'D',
   '102': 'Y',
   '103': 'F',
   '104': 'C',
   '105': 'Q',
   '106': 'Q',
   '107': 'Y',
   '108': 'S',
   '109': 'S',
   '110': '-',
   '111': '-',
   '112': '-',
   '113': '-',
   '114': 'Y',
   '115': 'P',
   '116': 'L',
   '117': 'T',
   '118': 'F',
   '119': 'G',
   '120': 'A',
   '121': 'G',
   '122': 'T',
   '123': 'K',
   '124': 'L',
   '125': 'E',
   '126': 'L',
   '127': 'K'}},
 {'chain': 'L',
  'seq': {'1': 'D',
   '2': 'I',
   '3': 'V',
   '4': 'M',
   '5': 'T',
   '6': 'Q',
   '7': 'S',
   '8': 'Q',
   '9': 'K',
   '10': 'F',
   '11': 'M',
   '12': 'S',
   '13': 'T',
   '14': 'S',
   '15': 'V',
   '16': 'G',
   '17': 'D',
   '18': 'R',
   '19': 'V',
   '20': 'S',
   '21': 'I',
   '22': 'T',
   '23': 'C',
   '24': 'K',
   '25': 'A',
   '26': 'S',
   '27': 'Q',
   '28': 'N',
   '29': 'V',
   '30': '-',
   '31': '-',
   '32': '-',
   '33': '-',
   '34': '-',
   '35': '-',
   '36': 'G',
   '37': 'T',
   '38': 'A',
   '39': 'V',
   '40': 'A',
   '41': 'W',
   '42': 'Y',
   '43': 'Q',
   '44': 'Q',
   '45': 'K',
   '46': 'P',
   '47': 'G',
   '48': 'Q',
   '49': 'S',
   '50': 'P',
   '51': 'K',
   '52': 'L',
   '53': 'M',
   '54': 'I',
   '55': 'Y',
   '56': 'S',
   '57': 'A',
   '58': '-',
   '59': '-',
   '60': '-',
   '61': '-',
   '62': '-',
   '63': '-',
   '64': '-',
   '65': 'S',
   '66': 'N',
   '67': 'R',
   '68': 'Y',
   '69': 'T',
   '70': 'G',
   '71': 'V',
   '72': 'P',
   '73': '-',
   '74': 'D',
   '75': 'R',
   '76': 'F',
   '77': 'T',
   '78': 'G',
   '79': 'S',
   '80': 'G',
   '81': '-',
   '82': '-',
   '83': 'S',
   '84': 'G',
   '85': 'T',
   '86': 'D',
   '87': 'F',
   '88': 'T',
   '89': 'L',
   '90': 'T',
   '91': 'I',
   '92': 'S',
   '93': 'N',
   '94': 'M',
   '95': 'Q',
   '96': 'S',
   '97': 'E',
   '98': 'D',
   '99': 'L',
   '100': 'A',
   '101': 'D',
   '102': 'Y',
   '103': 'F',
   '104': 'C',
   '105': 'Q',
   '106': 'Q',
   '107': 'Y',
   '108': 'S',
   '109': 'S',
   '110': '-',
   '111': '-',
   '112': '-',
   '113': '-',
   '114': 'Y',
   '115': 'P',
   '116': 'L',
   '117': 'T',
   '118': 'F',
   '119': 'G',
   '120': 'A',
   '121': 'G',
   '122': 'T',
   '123': 'K',
   '124': 'L',
   '125': 'E',
   '126': 'L',
   '127': 'K'}}]

In [6]:
from pandas.io.json import json_normalize
df =  json_normalize(A.data)
df

,chain,seq.1,seq.10,seq.100,seq.101,seq.102,seq.103,seq.104,seq.105,seq.106,...,seq.90,seq.91,seq.92,seq.93,seq.94,seq.95,seq.96,seq.97,seq.98,seq.99
0,H,E,-,A,V,Y,Y,C,N,A,...,Q,L,S,S,L,T,S,E,D,T
1,L,D,F,A,D,Y,F,C,Q,Q,...,T,I,S,N,M,Q,S,E,D,L
2,L,D,F,A,D,Y,F,C,Q,Q,...,T,I,S,N,M,Q,S,E,D,L

In [7]:
df =  json_normalize(A.data,'seq',['chain'])
df

       0 chain
0      1     H
1      2     H
2      3     H
3      4     H
4      5     H
5      6     H
6      7     H
7      8     H
8      9     H
9     10     H
10    11     H
11    12     H
12    13     H
13    14     H
14    15     H
15    16     H
16    17     H
17    18     H
18    19     H
19    20     H
20    21     H
21    22     H
22    23     H
23    24     H
24    25     H
25    26     H
26    27     H
27    28     H
28    29     H
29    30     H
..   ...   ...
352   98     L
353   99     L
354  100     L
355  101     L
356  102     L
357  103     L
358  104     L
359  105     L
360  106     L
361  107     L
362  108     L
363  109     L
364  110     L
365  111     L
366  112     L
367  113     L
368  114     L
369  115     L
370  116     L
371  117     L
372  118     L
373  119     L
374  120     L
375  121     L
376  122     L
377  123     L
378  124     L
379  125     L
380  126     L
381  127     L

[382 rows x 2 columns]

In [10]:
df =  json_normalize(A.data,['chain'],'seq')
df

   0                                                seq
0  H  {'1': 'E', '2': 'V', '3': 'Q', '4': 'L', '5': ...
1  L  {'1': 'D', '2': 'I', '3': 'V', '4': 'M', '5': ...
2  L  {'1': 'D', '2': 'I', '3': 'V', '4': 'M', '5': ...

In [12]:
df =  json_normalize(A.data,'seq')
df

       0
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
..   ...
352   98
353   99
354  100
355  101
356  102
357  103
358  104
359  105
360  106
361  107
362  108
363  109
364  110
365  111
366  112
367  113
368  114
369  115
370  116
371  117
372  118
373  119
374  120
375  121
376  122
377  123
378  124
379  125
380  126
381  127

[382 rows x 1 columns]

In [13]:
df =  json_normalize(A.data,max_level = 2)
df

TypeError: json_normalize() got an unexpected keyword argument 'max_level'

In [14]:
df =  json_normalize(A.data)
df

,chain,seq.1,seq.10,seq.100,seq.101,seq.102,seq.103,seq.104,seq.105,seq.106,...,seq.90,seq.91,seq.92,seq.93,seq.94,seq.95,seq.96,seq.97,seq.98,seq.99
0,H,E,-,A,V,Y,Y,C,N,A,...,Q,L,S,S,L,T,S,E,D,T
1,L,D,F,A,D,Y,F,C,Q,Q,...,T,I,S,N,M,Q,S,E,D,L
2,L,D,F,A,D,Y,F,C,Q,Q,...,T,I,S,N,M,Q,S,E,D,L

In [15]:
df =  json_normalize(A.data)
df.columns

Index(['chain', 'seq.1', 'seq.10', 'seq.100', 'seq.101', 'seq.102', 'seq.103',
       'seq.104', 'seq.105', 'seq.106',
       ...
       'seq.90', 'seq.91', 'seq.92', 'seq.93', 'seq.94', 'seq.95', 'seq.96',
       'seq.97', 'seq.98', 'seq.99'],
      dtype='object', length=129)

In [16]:
df =  json_normalize(A.data)
cols = [name.split(".")[1] for name in df.columns}
df.columns = cols
df

SyntaxError: invalid syntax (<ipython-input-16-8071fdc26cff>, line 2)

In [17]:
df =  json_normalize(A.data)
cols = [name.split(".")[1] for name in df.columns]
df.columns = cols
df

IndexError: list index out of range

In [18]:
cols

NameError: name 'cols' is not defined

In [19]:
df =  json_normalize(A.data)
cols = [name.split(".")[1] for name in df.columns.tolist()]
df.columns = cols
df

IndexError: list index out of range

In [20]:
df.columns.tolist()

['chain',
 'seq.1',
 'seq.10',
 'seq.100',
 'seq.101',
 'seq.102',
 'seq.103',
 'seq.104',
 'seq.105',
 'seq.106',
 'seq.107',
 'seq.108',
 'seq.109',
 'seq.11',
 'seq.110',
 'seq.111',
 'seq.112',
 'seq.113',
 'seq.114',
 'seq.115',
 'seq.116',
 'seq.117',
 'seq.118',
 'seq.119',
 'seq.12',
 'seq.120',
 'seq.121',
 'seq.122',
 'seq.123',
 'seq.124',
 'seq.125',
 'seq.126',
 'seq.127',
 'seq.128',
 'seq.13',
 'seq.14',
 'seq.15',
 'seq.16',
 'seq.17',
 'seq.18',
 'seq.19',
 'seq.2',
 'seq.20',
 'seq.21',
 'seq.22',
 'seq.23',
 'seq.24',
 'seq.25',
 'seq.26',
 'seq.27',
 'seq.28',
 'seq.29',
 'seq.3',
 'seq.30',
 'seq.31',
 'seq.32',
 'seq.33',
 'seq.34',
 'seq.35',
 'seq.36',
 'seq.37',
 'seq.38',
 'seq.39',
 'seq.4',
 'seq.40',
 'seq.41',
 'seq.42',
 'seq.43',
 'seq.44',
 'seq.45',
 'seq.46',
 'seq.47',
 'seq.48',
 'seq.49',
 'seq.5',
 'seq.50',
 'seq.51',
 'seq.52',
 'seq.53',
 'seq.54',
 'seq.55',
 'seq.56',
 'seq.57',
 'seq.58',
 'seq.59',
 'seq.6',
 'seq.60',
 'seq.61',
 'seq.62',
 'seq.63',
 'seq.64',
 'seq.65',
 'seq.66',
 'seq.67',
 'seq.68',
 'seq.69',
 'seq.7',
 'seq.70',
 'seq.71',
 'seq.72',
 'seq.73',
 'seq.74',
 'seq.75',
 'seq.76',
 'seq.77',
 'seq.78',
 'seq.79',
 'seq.8',
 'seq.80',
 'seq.81',
 'seq.82',
 'seq.83',
 'seq.84',
 'seq.85',
 'seq.86',
 'seq.87',
 'seq.88',
 'seq.89',
 'seq.9',
 'seq.90',
 'seq.91',
 'seq.92',
 'seq.93',
 'seq.94',
 'seq.95',
 'seq.96',
 'seq.97',
 'seq.98',
 'seq.99']

In [21]:
class Fasta2Library:
    def __init__(self, fasta, scheme='imgt'):
        self.fasta = fasta
        self.scheme = scheme
        '''
        Numbering sequence by ANARCI's function "number"
        '''
        seqlist = self.seqS()
        self.data = []
        for self.seq in seqlist:
            self.numbering, self.chain_type = number(self.seq, self.scheme)
            pos_aaDic = self.outNumbering()        
            seqdict = {'seq': pos_aaDic}
            self.data.append(seqdict)
    def seqS(self):
        '''
        Merge multi-line fasta file to one-line fasta sequence.
        All the fastas consist of seqlist.
        '''
        seqlist = []
        with open(self.fasta, 'r') as f:
            seq = ''
            for line in f:
                if not line.startswith('>'):
                    seq += line.replace('\n', '').strip()
                else:
                    if seq != '':
                        seqlist.append(seq)
                    seq = ''
        return seqlist
    def outNumbering(self):
        '''
        Process on number output of numbering
        '''
        dict_numbering = {}
        for tmp in self.numbering:
            pos = str(tmp[0][0])
            AA = tmp[1]
            dict_numbering[pos] = AA
        return dict_numbering
    @staticmethod
    def natural_sort_key(s):
        _nsre = re.compile('([0-9]+)')
        return [
            int(text) if text.isdigit() else text.lower()
            for text in re.split(_nsre, s)
        ]

In [22]:
test=r'/NFS/cany/software/anarci-1.3/Example_scripts_and_sequences/12e8.fasta'

In [23]:
A=Fasta2Library(test)
A.data

[{'seq': {'1': 'E',
   '2': 'V',
   '3': 'Q',
   '4': 'L',
   '5': 'Q',
   '6': 'Q',
   '7': 'S',
   '8': 'G',
   '9': 'A',
   '10': '-',
   '11': 'E',
   '12': 'V',
   '13': 'V',
   '14': 'R',
   '15': 'S',
   '16': 'G',
   '17': 'A',
   '18': 'S',
   '19': 'V',
   '20': 'K',
   '21': 'L',
   '22': 'S',
   '23': 'C',
   '24': 'T',
   '25': 'A',
   '26': 'S',
   '27': 'G',
   '28': 'F',
   '29': 'N',
   '30': 'I',
   '31': '-',
   '32': '-',
   '33': '-',
   '34': '-',
   '35': 'K',
   '36': 'D',
   '37': 'Y',
   '38': 'Y',
   '39': 'I',
   '40': 'H',
   '41': 'W',
   '42': 'V',
   '43': 'K',
   '44': 'Q',
   '45': 'R',
   '46': 'P',
   '47': 'E',
   '48': 'K',
   '49': 'G',
   '50': 'L',
   '51': 'E',
   '52': 'W',
   '53': 'I',
   '54': 'G',
   '55': 'W',
   '56': 'I',
   '57': 'D',
   '58': 'P',
   '59': 'E',
   '60': '-',
   '61': '-',
   '62': 'I',
   '63': 'G',
   '64': 'D',
   '65': 'T',
   '66': 'E',
   '67': 'Y',
   '68': 'V',
   '69': 'P',
   '70': 'K',
   '71': 'F',
   '72': 'Q',
   '73': '-',
   '74': 'G',
   '75': 'K',
   '76': 'A',
   '77': 'T',
   '78': 'M',
   '79': 'T',
   '80': 'A',
   '81': 'D',
   '82': 'T',
   '83': 'S',
   '84': 'S',
   '85': 'N',
   '86': 'T',
   '87': 'A',
   '88': 'Y',
   '89': 'L',
   '90': 'Q',
   '91': 'L',
   '92': 'S',
   '93': 'S',
   '94': 'L',
   '95': 'T',
   '96': 'S',
   '97': 'E',
   '98': 'D',
   '99': 'T',
   '100': 'A',
   '101': 'V',
   '102': 'Y',
   '103': 'Y',
   '104': 'C',
   '105': 'N',
   '106': 'A',
   '107': 'G',
   '108': 'H',
   '109': 'D',
   '110': 'Y',
   '111': 'D',
   '112': 'R',
   '113': 'G',
   '114': 'R',
   '115': 'F',
   '116': 'P',
   '117': 'Y',
   '118': 'W',
   '119': 'G',
   '120': 'Q',
   '121': 'G',
   '122': 'T',
   '123': 'L',
   '124': 'V',
   '125': 'T',
   '126': 'V',
   '127': 'S',
   '128': 'A'}},
 {'seq': {'1': 'D',
   '2': 'I',
   '3': 'V',
   '4': 'M',
   '5': 'T',
   '6': 'Q',
   '7': 'S',
   '8': 'Q',
   '9': 'K',
   '10': 'F',
   '11': 'M',
   '12': 'S',
   '13': 'T',
   '14': 'S',
   '15': 'V',
   '16': 'G',
   '17': 'D',
   '18': 'R',
   '19': 'V',
   '20': 'S',
   '21': 'I',
   '22': 'T',
   '23': 'C',
   '24': 'K',
   '25': 'A',
   '26': 'S',
   '27': 'Q',
   '28': 'N',
   '29': 'V',
   '30': '-',
   '31': '-',
   '32': '-',
   '33': '-',
   '34': '-',
   '35': '-',
   '36': 'G',
   '37': 'T',
   '38': 'A',
   '39': 'V',
   '40': 'A',
   '41': 'W',
   '42': 'Y',
   '43': 'Q',
   '44': 'Q',
   '45': 'K',
   '46': 'P',
   '47': 'G',
   '48': 'Q',
   '49': 'S',
   '50': 'P',
   '51': 'K',
   '52': 'L',
   '53': 'M',
   '54': 'I',
   '55': 'Y',
   '56': 'S',
   '57': 'A',
   '58': '-',
   '59': '-',
   '60': '-',
   '61': '-',
   '62': '-',
   '63': '-',
   '64': '-',
   '65': 'S',
   '66': 'N',
   '67': 'R',
   '68': 'Y',
   '69': 'T',
   '70': 'G',
   '71': 'V',
   '72': 'P',
   '73': '-',
   '74': 'D',
   '75': 'R',
   '76': 'F',
   '77': 'T',
   '78': 'G',
   '79': 'S',
   '80': 'G',
   '81': '-',
   '82': '-',
   '83': 'S',
   '84': 'G',
   '85': 'T',
   '86': 'D',
   '87': 'F',
   '88': 'T',
   '89': 'L',
   '90': 'T',
   '91': 'I',
   '92': 'S',
   '93': 'N',
   '94': 'M',
   '95': 'Q',
   '96': 'S',
   '97': 'E',
   '98': 'D',
   '99': 'L',
   '100': 'A',
   '101': 'D',
   '102': 'Y',
   '103': 'F',
   '104': 'C',
   '105': 'Q',
   '106': 'Q',
   '107': 'Y',
   '108': 'S',
   '109': 'S',
   '110': '-',
   '111': '-',
   '112': '-',
   '113': '-',
   '114': 'Y',
   '115': 'P',
   '116': 'L',
   '117': 'T',
   '118': 'F',
   '119': 'G',
   '120': 'A',
   '121': 'G',
   '122': 'T',
   '123': 'K',
   '124': 'L',
   '125': 'E',
   '126': 'L',
   '127': 'K'}},
 {'seq': {'1': 'D',
   '2': 'I',
   '3': 'V',
   '4': 'M',
   '5': 'T',
   '6': 'Q',
   '7': 'S',
   '8': 'Q',
   '9': 'K',
   '10': 'F',
   '11': 'M',
   '12': 'S',
   '13': 'T',
   '14': 'S',
   '15': 'V',
   '16': 'G',
   '17': 'D',
   '18': 'R',
   '19': 'V',
   '20': 'S',
   '21': 'I',
   '22': 'T',
   '23': 'C',
   '24': 'K',
   '25': 'A',
   '26': 'S',
   '27': 'Q',
   '28': 'N',
   '29': 'V',
   '30': '-',
   '31': '-',
   '32': '-',
   '33': '-',
   '34': '-',
   '35': '-',
   '36': 'G',
   '37': 'T',
   '38': 'A',
   '39': 'V',
   '40': 'A',
   '41': 'W',
   '42': 'Y',
   '43': 'Q',
   '44': 'Q',
   '45': 'K',
   '46': 'P',
   '47': 'G',
   '48': 'Q',
   '49': 'S',
   '50': 'P',
   '51': 'K',
   '52': 'L',
   '53': 'M',
   '54': 'I',
   '55': 'Y',
   '56': 'S',
   '57': 'A',
   '58': '-',
   '59': '-',
   '60': '-',
   '61': '-',
   '62': '-',
   '63': '-',
   '64': '-',
   '65': 'S',
   '66': 'N',
   '67': 'R',
   '68': 'Y',
   '69': 'T',
   '70': 'G',
   '71': 'V',
   '72': 'P',
   '73': '-',
   '74': 'D',
   '75': 'R',
   '76': 'F',
   '77': 'T',
   '78': 'G',
   '79': 'S',
   '80': 'G',
   '81': '-',
   '82': '-',
   '83': 'S',
   '84': 'G',
   '85': 'T',
   '86': 'D',
   '87': 'F',
   '88': 'T',
   '89': 'L',
   '90': 'T',
   '91': 'I',
   '92': 'S',
   '93': 'N',
   '94': 'M',
   '95': 'Q',
   '96': 'S',
   '97': 'E',
   '98': 'D',
   '99': 'L',
   '100': 'A',
   '101': 'D',
   '102': 'Y',
   '103': 'F',
   '104': 'C',
   '105': 'Q',
   '106': 'Q',
   '107': 'Y',
   '108': 'S',
   '109': 'S',
   '110': '-',
   '111': '-',
   '112': '-',
   '113': '-',
   '114': 'Y',
   '115': 'P',
   '116': 'L',
   '117': 'T',
   '118': 'F',
   '119': 'G',
   '120': 'A',
   '121': 'G',
   '122': 'T',
   '123': 'K',
   '124': 'L',
   '125': 'E',
   '126': 'L',
   '127': 'K'}}]

In [24]:
from pandas.io.json import json_normalize
df =  json_normalize(A.data)
df

,seq.1,seq.10,seq.100,seq.101,seq.102,seq.103,seq.104,seq.105,seq.106,seq.107,...,seq.90,seq.91,seq.92,seq.93,seq.94,seq.95,seq.96,seq.97,seq.98,seq.99
0,E,-,A,V,Y,Y,C,N,A,G,...,Q,L,S,S,L,T,S,E,D,T
1,D,F,A,D,Y,F,C,Q,Q,Y,...,T,I,S,N,M,Q,S,E,D,L
2,D,F,A,D,Y,F,C,Q,Q,Y,...,T,I,S,N,M,Q,S,E,D,L

In [25]:
cols = [name.split(".")[1] for name in df.columns.tolist()]
df.columns = cols
df

   1 10 100 101 102 103 104 105 106 107 ... 90 91 92 93 94 95 96 97 98 99
0  E  -   A   V   Y   Y   C   N   A   G ...  Q  L  S  S  L  T  S  E  D  T
1  D  F   A   D   Y   F   C   Q   Q   Y ...  T  I  S  N  M  Q  S  E  D  L
2  D  F   A   D   Y   F   C   Q   Q   Y ...  T  I  S  N  M  Q  S  E  D  L

[3 rows x 128 columns]

In [26]:
class divideScheme:
    '''
    Almost base on IMGT numbering scheme.
    The boundary of CDR2 broadens by 1 to the left and right. 
    '''
    def __init__(self, chain_type):
        self.chain_type = chain_type
        self.__getCDR()
    @staticmethod
    def convertRange(start, end):
        extent = [i for i in range(start, end + 1)]
        str_ext = [st for st in map(str, extent)]
        return str_ext
    def __getCDR(self):
        if self.chain_type.upper() == "L":
            self.cdr1 = self.convertRange(27, 38)
            self.cdr3 = self.convertRange(105, 117)
            self.fw1 = self.convertRange(1, 26)
            self.fw4 = self.convertRange(118, 127)
            #The boundary of CDR2 broadens by 1 to the left and right.
            self.cdr2 = self.convertRange(55, 66)
            self.fw2 = self.convertRange(39, 54)
            self.fw3 = self.convertRange(67, 104)
            self.span: list = [1, 127]
        elif self.chain_type.upper() == "H":
            self.cdr1 = self.convertRange(27, 38)
            self.cdr3 = self.convertRange(105, 117)
            self.fw4 = self.convertRange(118, 128)
            self.fw1 = self.convertRange(1, 26)
            #The boundary of CDR2 broadens by 1 to the left and right.
            self.cdr2 = self.convertRange(55, 66)
            self.fw2 = self.convertRange(39, 54)
            self.fw3 = self.convertRange(67, 104)
            self.span: list = [1, 128]

class Fasta2Library:
    def __init__(self, fasta, chain, scheme='imgt'):
        self.fasta = fasta
        self.scheme = scheme
        self.chain = chain
        '''
        Numbering sequence by ANARCI's function "number".
        Seqs in fasta file convert to dataframe.
        '''
        seqlist = self.seqS()
        self.data = []
        for self.seq in seqlist:
            self.numbering, self.chain_type = number(self.seq, self.scheme)
            pos_aaDic = self.outNumbering()
            self.data.append(pos_aaDic)
        df = json_normalize(self.data)
        self.df = df.reindex(sorted(df.columns, key=self.natural_sort_key),
                             axis=1)
    def seqS(self):
        '''
        Merge multi-line fasta file to one-line fasta sequence.
        All the fastas consist of seqlist.
        '''
        seqlist = []
        with open(self.fasta, 'r') as f:
            seq = ''
            for line in f:
                if not line.startswith('>'):
                    seq += line.replace('\n', '').strip()
                else:
                    if seq != '':
                        seqlist.append(seq)
                    seq = ''
        return seqlist
    def outNumbering(self):
        '''
        Process on number output of numbering
        '''
        dict_numbering = {}
        for tmp in self.numbering:
            pos = str(tmp[0][0])
            AA = tmp[1]
            dict_numbering[pos] = AA
        return dict_numbering
    @staticmethod
    def natural_sort_key(s):
        _nsre = re.compile('([0-9]+)')
        return [
            int(text) if text.isdigit() else text.lower()
            for text in re.split(_nsre, s)
        ]

In [27]:
test=r'/NFS/cany/software/anarci-1.3/Example_scripts_and_sequences/12e8.fasta'
A=Fasta2Library(test)
A.df

TypeError: __init__() missing 1 required positional argument: 'chain'

In [28]:
class Fasta2Library:
    def __init__(self, fasta, scheme='imgt'):
        self.fasta = fasta
        self.scheme = scheme
        #self.chain = chain
        '''
        Numbering sequence by ANARCI's function "number".
        Seqs in fasta file convert to dataframe.
        '''
        seqlist = self.seqS()
        self.data = []
        for self.seq in seqlist:
            self.numbering, self.chain_type = number(self.seq, self.scheme)
            pos_aaDic = self.outNumbering()
            self.data.append(pos_aaDic)
        df = json_normalize(self.data)
        self.df = df.reindex(sorted(df.columns, key=self.natural_sort_key),
                             axis=1)
    def seqS(self):
        '''
        Merge multi-line fasta file to one-line fasta sequence.
        All the fastas consist of seqlist.
        '''
        seqlist = []
        with open(self.fasta, 'r') as f:
            seq = ''
            for line in f:
                if not line.startswith('>'):
                    seq += line.replace('\n', '').strip()
                else:
                    if seq != '':
                        seqlist.append(seq)
                    seq = ''
        return seqlist
    def outNumbering(self):
        '''
        Process on number output of numbering
        '''
        dict_numbering = {}
        for tmp in self.numbering:
            pos = str(tmp[0][0])
            AA = tmp[1]
            dict_numbering[pos] = AA
        return dict_numbering
    @staticmethod
    def natural_sort_key(s):
        _nsre = re.compile('([0-9]+)')
        return [
            int(text) if text.isdigit() else text.lower()
            for text in re.split(_nsre, s)
        ]

In [29]:
test=r'/NFS/cany/software/anarci-1.3/Example_scripts_and_sequences/12e8.fasta'
A=Fasta2Library(test)
A.df

   1  2  3  4  5  6  7  8  9 10 ...  119 120 121 122 123 124 125 126 127  128
0  E  V  Q  L  Q  Q  S  G  A  - ...    G   Q   G   T   L   V   T   V   S    A
1  D  I  V  M  T  Q  S  Q  K  F ...    G   A   G   T   K   L   E   L   K  NaN
2  D  I  V  M  T  Q  S  Q  K  F ...    G   A   G   T   K   L   E   L   K  NaN

[3 rows x 128 columns]